*, html{
  box-sizing: border-box;
  
}

#box{
  font-family: arial;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  text-align: center;
  min-width: 20em;
  width: 30%;
  height: auto;
  margin: 20vh auto;
  padding: 2em;
  background-color: rgba(100, 130, 160, 0.8);
  border: 3px solid lightblue;
  border-radius: 20px;
}

#break-label, #session-label{
  width: 40%;
  position: absolute;
  color: white;
  font-size: 105%;
  font-weight: bold;
}
#break-label{
  left: 20px
}
#session-label{
  right: 20px;
}
#break-length, #session-length{
  display: inline-block;
  font-size: 150%;
  width: 20%;
}

#timer{
  border: 2px solid white;
  border-radius: 20px;
  width: 90%;
  margin: 140px auto 8% auto;
  text-align: center;
  font-size: 2.2em;
  font-family: arial;
}

#time-left{
  font-family: Digital;
  font-size: 2.4em;
}

.in-de{
  display: inline-block;
  font-size: 150%;
  margin: 0 5px;
  border: none;
  color: black;
  background-color: transparent;
}

h1{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 8%;
}